 .gfdjkc {
    background: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 90vw;
    margin: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    flex-direction: column;
}

  .mrano {
    display: flex;
    justify-content: space-between;
  }

  .qatxp {
   margin-left: 25px; 
  }
  .qkxb {
    width: 20px;
    height: 20px;
    margin: 22px 5px;

  }
  .iqbs {
    display: inline-flex;
    justify-content: center;
    /* border: 1px solid black; */
  }

  .qjxdsp {
    margin-top: 20px;
    width: 377px;
    border: none;
    /* border: 2px solid black; */
    border-radius: 6px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
  }

  .qjxdsp:focus {
    border: none;
    outline: none;
  }
  .chck {
    display: flex;
    justify-content: center;
  }

  .bxc {
    width: 25px;
    height: 17px;
  }

  .mshopq {
      font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .lxcwposfy {
    /* text-align: left; */
    text-align: center;
    padding: 8px;
  }

  .lxcwposfy-new {
    display: flex;
    justify-content: center;
  }
  
  tr:nth-child(even) {
    background-color: whitesmoke;
  }
  
  .qhxcbxp {
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    padding: 4px 12px 4px 12px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .green-button {
    background: rgb(90, 235, 90);
    
  }
  
  .yellow-button {
    background: #FFC260;
  }
  
  .red-button {
    background: rgb(252, 0, 0);
  } */


   
  @media (max-width: 768px) {
    .gfdjkc {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
    }
  
    .mshopq {
        width: 100%;
        overflow-x: auto;
    }
  } 
  
  .mshopq .lxcwposfy {
    border: 1px solid black;
  }
  
  .qlpeda {
    background-color: #5fb4ba;
    color: white;
    font-weight: 800;
  }

  .suwbx {
    background-color: #1e90ff;
  }