.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 20px;
  }
  
  .dbg {
    margin-bottom: 10px;
  }
  
  .kjfdfkm {
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    border-bottom: .5px solid gray;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  